<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87401474526-em2t8pj186s5alt4qp2f1ip8jt6v77pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87401474526-em2t8pj186s5alt4qp2f1ip8jt6v77pk</string>
	<key>API_KEY</key>
	<string>AIzaSyCXdZNSEAcIIP98D466uMmZ8lFWpIz4RwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87401474526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.Users.christophergrayerjr.Library.Developer.Xcode.DerivedData</string>
	<key>PROJECT_ID</key>
	<string>anti-social-b-app</string>
	<key>STORAGE_BUCKET</key>
	<string>anti-social-b-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87401474526:ios:1082c7d73a6409c525154f</string>
</dict>
</plist>